/*  1 - Theme colors */
/*  1.1 - Light theme (Default) */

/* Base colors */
#workskin .rcs,
#workskin .rcs.light-theme {
  background-color: #ffffff !important;
  border-color: #c0c0c0 !important;
  color: #000000 !important;
}

/* Conversation headers */
#workskin .rcs h1,
#workskin .rcs.light-theme h1 {
  background-color: #1a6ce6;
  color: #ffffff;
}

/* Text input boxes */
#workskin .rcs .input-box,
#workskin .rcs .input-box.empty,
#workskin .rcs.light-theme .input-box,
#workskin .rcs.light-theme .input-box.empty {
  background-color: #e0e0e0;
}

#workskin .rcs .input-box,
#workskin .rcs.light-theme .input-box {
  color: #000000;
}

#workskin .rcs .input-box::after,
#workskin .rcs .input-box::before,
#workskin .rcs .input-box.empty::before,
#workskin .rcs.light-theme .input-box::after,
#workskin .rcs.light-theme .input-box::before,
#workskin .rcs.light-theme .input-box.empty::before {
  color: #606060;
}

#workskin .rcs .input-box.empty,
#workskin .rcs .input-box.empty::after,
#workskin .rcs.light-theme .input-box.empty,
#workskin .rcs.light-theme .input-box.empty::after {
  color: #b0b0b0;
}

/* Messages */
/* Sent messages (default) */
#workskin .rcs .message,
#workskin .rcs .message.sent,
#workskin .rcs.light-theme .message,
#workskin .rcs.light-theme .message.sent {
  background-color: #e8e8e8;
  color: #000000;
}

/* Received messages */
#workskin .rcs .message.received,
#workskin .rcs.light-theme .message.received {
  background-color: #1a6ce6;
  color: #ffffff;
}

/* Message contact names */
#workskin .rcs .sender,
#workskin .rcs.light-theme .sender {
  color: #686868;
}

/* Status receipts */
#workskin .rcs .status-receipt,
#workskin .rcs.light-theme .status-receipt {
  color: #888888;
}

/* Timestamps */
#workskin .rcs .timestamp,
#workskin .rcs.light-theme .timestamp {
  color: #888888;
}

/* Typing indicators */
#workskin .rcs .typing {
  background-color: #b4b4b4;
}

#workskin .rcs .typing::after {
  background-color: #989898;
}

#workskin .rcs .typing::before {
  background-color: #e0e0e0;
}

/* /1.1 - Light theme */
/*  1.2 - Dark theme */

/* Base colors */
#workskin .rcs.dark-theme {
  background-color: #282828 !important;
  border-color: #606060 !important;
  color: #ffffff !important;
}

/* Conversation headers */
/* Inherited from light theme */

/* Text input boxes */
#workskin .rcs.dark-theme .input-box,
#workskin .rcs.dark-theme .input-box.empty {
  background-color: #606060;
}

#workskin .rcs.dark-theme .input-box {
  color: #ffffff;
}

#workskin .rcs.dark-theme .input-box::after,
#workskin .rcs.dark-theme .input-box::before,
#workskin .rcs.dark-theme .input-box.empty::before {
  color: #d8d8d8;
}

#workskin .rcs.dark-theme .input-box.empty,
#workskin .rcs.dark-theme .input-box.empty::after {
  color: #909090;
}

/* Messages */
/* Sent messages (default) */
#workskin .rcs.dark-theme .message,
#workskin .rcs.dark-theme .message.sent {
  background-color: #505050;
  color: #ffffff;
}

/* Received messages */
#workskin .rcs.dark-theme .message.received {
  background-color: #1a6ce6;
  color: #ffffff;
}

/* Message contact names */
#workskin .rcs .sender {
  color: #c0c0c0;
}

/* Status receipts */
#workskin .rcs.dark-theme .status-receipt {
  color: #989898;
}

/* Timestamps */
#workskin .rcs.dark-theme .timestamp {
  color: #989898;
}

/* Typing indicators */
/* Inherited from light theme */

/* /1.2 - Dark theme */
/* /1 - Theme colors */
/*  2 - Layout */

/* Hidden elements */
#workskin .hide {
  display: none;
}

/* Base styling */
#workskin .rcs {
  border: 2px solid;
  font-family: "Helvetica";
  left: 0;
  margin: 20px auto;
  max-width: 30em;
  position: relative;
  right: 0;
}

/* Conversation headers */
#workskin .rcs h1 {
  font-size: 1.25em;
  margin: 0 0 10px;
  overflow: hidden;
  padding: 10px 10px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 6px 10px rgba(0, 0, 0, .2);
  -ms-box-shadow: 0 6px 10px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 6px 10px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, .2);
}

/* Buttons in headers */
#workskin .rcs h1::after,
#workskin .rcs h1::before {
  cursor: pointer;
  position: absolute;
}

/* 3-dot menu button in headers */
#workskin .rcs h1::after {
  content: "\22ee";
  font-size: 1.5em;
  right: 20px;
  top: 0.2em;
}

/* Back button in headers */
#workskin .rcs h1::before {
  content: "\25c0";
  font-size: 1.15em;
  left: 10px;
  top: 0.45em;
}

/* Text input boxes */
#workskin .rcs .input-box,
#workskin .rcs .input-box-empty {
  cursor: text;
  padding: 2px 7px;
  margin-top: 10px;
  position: relative;
  vertical-align: middle;
}

#workskin .rcs .input-box:not(.typing ~ .input-box),
#workskin .rcs .input-box-empty:not(.typing ~ .input-box-empty) {
  margin-top: 27px;
}

/* Buttons surrounding text input boxes */
#workskin .rcs .input-box::after,
#workskin .rcs .input-box-empty::after,
#workskin .rcs .input-box::before,
#workskin .rcs .input-box-empty::before {
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

/* "Send message" button after text input boxes */
#workskin .rcs .input-box::after,
#workskin .rcs .input-box-empty::after {
  content: "\25b6";
  font-size: 1.5em;
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}

/* "Upload file" button before text input boxes */
#workskin .rcs .input-box::before,
#workskin .rcs .input-box-empty::before {
  content: "+";
  font-size: 2em;
  margin-right: 0.5em;
}

/* Links within messages */
#workskin .rcs .link {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

/* Messages */
#workskin .rcs .message {
  border-radius: 0.5em;
  border-style: none;
  padding: 5px 10px;
  margin: 0 10px 10px;
  max-width: 22.5em;
  width: fit-content;
}

#workskin .rcs .message.received {
  vertical-align: left;
  margin-right: auto;
}

#workskin .rcs .message.sent {
  vertical-align: right;
  margin-left: auto;
}

/* Message contact names */
#workskin .rcs .sender {
  font-size: 0.8em;
  margin-left: 20px;
  margin-bottom: 3px;
}

/* Status receipts */
#workskin .rcs .status-receipt {
  font-size: 0.75em;
}

#workskin .rcs .status-receipt,
#workskin .rcs .status-receipt.sent {
  text-align: right;
  margin-right: 15px;
}

#workskin .rcs .status-receipt.received {
  text-align: left;
  margin-left: 15px;
}

/* Timestamp */
#workskin .rcs .timestamp {
  text-align: center;
  font-size: 0.75em;
  margin-bottom: 10px;
}

/* Typing indicators */
#workskin .rcs .typing,
#workskin .rcs .typing::after,
#workskin .rcs .typing::before {
  border-radius: 100%;
  content: '';
  display: inline-block;
  height: 0.5em;
  width: 0.5em;
}

#workskin .rcs .typing {
  margin: 0 0.5em;
}

#workskin .rcs .typing::after,
#workskin .rcs .typing::before {
  position: absolute;
}

#workskin .rcs .typing::before {
  transform: translateX(-150%);
}

#workskin .rcs .typing::after {
  transform: translateX(150%);
}

/* /2 - Layout */
